nav {
  display: flex;
  justify-content: space-around;
  height: 10vh;
  width: 100%;
  background-color: #d68b36;
}

.nav-link {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.quote {
  display: flex;
  align-items: center;
  font-size: 2em;
  text-align: center;
  margin: 10px;
}

.home {
  font-size: 1.5em;
  margin: 10px;
  text-align: center;
}
